.contenedor-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor-nav h1 {
    margin-bottom: 10px;
}

.contenedor-nav ul {
    width: 325px;
    margin-left: 0px;
}

.text-container {
    width: 100%;
    padding: 0 10px;
}

.about-text {
    width: 100%;
    min-width: 320px;
    height: 50vh;
}

.work-text {
    width: 100%;
    min-width: 320px;
    height: 50vh;
}

.background-right {
    width: 100%;
    min-width: 320px;
    height: 50vh;
}

.contact-title {
    width: 100%;
    min-width: 320px;
    height: 50vh;
}